# This file utilizes direnv (https://github.com/direnv/direnv) to keep your shell profile files clean

# This line is to resolve a Jekyll Liquid error:
#   Liquid Exception: invalid byte sequence in US-ASCII in ...
# You can optionally set this is your bash profile(s).
export LANG=en_US.UTF-8